@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px; 
  font-family: "Helvetica Neue", helvetica, arial; 
  background: url('https://subtlepatterns.com/patterns/white_carbonfiber.png');
}

#container {
  position: relative;
  width: 700px;
  left: 300px; 
  bottom: 70px;  
}

#container:after {
  content: "";
  display: flex;
  clear: both;
  height: 0;
}

#menu {
  position: flex;
  float: left;
  width: 100%;
  padding: 0 20px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
  background: #ccc; 
}

#menu, #menu ul {
  list-style: none;
}

#menu > li {
  float: left;
  position: relative;
  border-right: 1px solid rgba(0,0,0,.1);
  box-shadow: 1px 0 0 rgba(233, 37, 233, 0.25);
  perspective: 1000px;
  
}

#menu > li:first-child {
  border-left: 1px solid rgba(200, 25, 200, 0.25);
  box-shadow: -1px 0 0 rgba(207, 67, 184, 0.1), 1px 0 0 rgba(255,255,255,.25);
}

#menu a {
  display: block;
  position: relative;
  z-index: 10;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  color: rgb(168, 28, 173);
  line-height: 1;
  font-weight: 600;
  left: 5px;
  bottom: 2px;
  font-size: 20px;
  letter-spacing: -.05em;
  background: transparent;    
  text-shadow: 0 1px 1px rgba(255,255,255,.9);
  transition: all .25s ease-in-out;

}

#menu > li:hover > a {
  background: #ba25dc;
  color: rgba(0,223,252,1);
  text-shadow: none;
}

#menu li ul  {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 200px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent;
  overflow: hidden;
  transform-origin: 50% 0%;
}


#menu li:hover ul {
  
  padding: 15px 0;
  background: #333;
  opacity: 1;
  visibility: visible;
  box-shadow: 1px 1px 7px rgba(0,0,0,.5);
  animation-name: swingdown;
  animation-duration: 1s;
  animation-timing-function: ease;

}

@keyframes swingdown {
  0% {
    opacity: .99999;
    transform: rotateX(90deg);
  }

  30% {     
    transform: rotateX(-20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }

  65% {
    transform: rotateX(20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
}

#menu li li a {
  padding-left: 15px;
  font-weight: 400;
  color: #ddd;
  text-shadow: none;
  border-top: dotted 1px transparent;
  border-bottom: dotted 1px transparent;
  transition: all .15s linear;
}

#menu li li a:hover {
  color: rgba(0,223,252,1);
  border-top: dotted 1px rgba(255,255,255,.15);
  border-bottom: dotted 1px rgba(255,255,255,.15);
  background: rgba(0,223,252,.02);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v906-gib-0024.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=3276ad64de7c38c654dee74001169bea") no-repeat;
  background-size: cover;
  background-position: center;
}
::selection{
  color: white;
  background: #FC4782;
}
.wrapper{
  color: white;
  max-width: 900px;
  text-align: center;
  padding: 0 50px;
}
.wrapper .title{
  font-size: 35px;
  font-weight: 500;
}
.wrapper .title span{
  font-weight: 700;
}
.wrapper form{
  margin: 50px 0;
}
.wrapper form .email-field{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form .email-field input{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: none;
  outline: none;
  font-size: 18px;
}
form .email-field button{
  height: 100%;
  width: 200px;
  outline: none;
  border: none;
  background: #FC4782;
  color: #0f0e0e;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
form .email-field button:hover{
  background: #e0dede;
}
.wrapper .count-down{
  display: flex;
  width: 100%;
  height: 150px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.wrapper .count-down .timer{
  height: 100%;
  width: 100px;
  border: 4px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count-down .timer .numb{
  font-size: 25px;
  font-weight: 500;
}
.count-down .timer .text{
  font-size: 15px;
}
.count-down .clone{
  font-size: 45px;
}
@media (max-width: 630px) {
  .wrapper .count-down{
    height: 80px;
  }
  .wrapper .count-down .timer{
    width: 80px;
  }
  .count-down .timer .numb{
    font-size: 20px;
  }
  .count-down .timer .text{
    font-size: 13px;
  }
  .count-down .clone{
    font-size: 40px;
  }
}
@media (max-width: 542px){
  .wrapper{
    padding: 0 20px;
  }
  .wrapper .count-down .timer{
    border: none;
  }
  .count-down .timer .numb{
    font-size: 28px;
  }
  .count-down .timer .text{
    font-size: 15px;
  }
  .count-down .clone{
    display: none;
  }
  .form .email-field button{
    width: 150px;
    font-size: 17px;
  }
}
@media (max-width: 340px){
  .wrapper .count-down{
    height: 30px;
  }
  .wrapper .count-down .timer{
    width: 30px;
  }
}